/* theme.css */

body.light-mode, body.light-mode textarea {
    background-color: #f0f0f0;
    color: #000;
}

body.dark-mode {
    background-color: #222;
    color: #fff;
}

body.dark-mode textarea, body.dark-mode button{
    background-color: #333; 
    color: #fff;
}

body.three-d-mode, body.three-d-mode div.footer {
    text-shadow: 
        -3px 2px 2px red,  /* Red shadow offset to the left */
         3px -1px 2px blue; /* Blue shadow offset to the right */
    color: transparent; /* Hide the original text */
}

