{% extends 'base.html' %}

{% block title %}YawgBargain - Home{% endblock %}

{% block content %}
    <div style="padding: 20px;">
        <h1>Welcome to YawgBargain</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
            Cras venenatis euismod malesuada. Donec vehicula, odio eget dictum aliquam, risus magna vehicula eros, 
            eget tincidunt sapien lorem ut nulla.
        </p>
        <p>
            Duis euismod, urna ut facilisis volutpat, tortor eros condimentum nibh, ut aliquet sapien arcu in enim.
            Mauris dictum neque ut magna consectetur, id pellentesque sapien suscipit. Aliquam erat volutpat.
        </p>
    </div>
{% endblock %}
