<!DOCTYPE html>
<html lang="en" name="base" keywords="" description=""
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YawgBargain{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <script defer src="{{ url_for('static', filename='js/footer_button.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/theme_change.js') }}"></script>
</head>
<body>
    <!-- Header with site name, search bar, and user actions -->
    <div class="header">
        <div class="site-name">
            <a href="/">
                <img height="50px" width="auto" src="{{ url_for('static', filename='images/yawgbargain_logo.png') }}" alt="YawgBargain">
            </a>
            <div class="search-bar">
                <input type="search" placeholder="Search (Coming Soon)..." disabled>
            </div>
        </div>

        <div class="user-actions">
            <a href="/pricer" class="nav-btn">Pricer</a>
            <a href="/release_notes" class="nav-btn">Release Notes</a>
            {% if user %}
                <a href="/decks" class="nav-btn">My Decks</a>
                <a href="/profile" class="nav-btn">Account</a>
                <a href="/logout" class="nav-btn">Logout</a>
            {% else %}
                <button class="nav-btn disabled" disabled>Login</button>
            {% endif %}
        </div>
    </div>

    <!-- Dynamic content block -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-content">
            <p>Support the site:</p>
            <a href="https://ko-fi.com/carsonjoshua" target="_blank" class="ko-fi-button">☕ Buy me a coffee</a>
            <div>
                <label>
                    <input type="radio" name="theme" value="light-mode" checked> Light Mode
                </label>
                <label>
                    <input type="radio" name="theme" value="dark-mode"> Dark Mode
                </label>
                <label>
                    <input type="checkbox" id="3d-mode"> 3D Text Mode
                </label>
            </div>
        </div>
    </div>
    

    <button id="footer-toggle" class="footer-toggle">▲</button>
</body>
