{% extends 'base.html' %}

{% block title %}YawgBargain - Home{% endblock title %}

{% block content %}
<h1>Release Notes</h1>
<h2>2025-02-28</h2>
<p>
    <ul>
        <li>Added supported pricer formats, the following are now supported:</li>
        <ul>
            <li>Yawgmoth's Bargain (just card name)</li>
            <li>1 Yawgmoth's Bargain (amount and card name, space seperated)</li>
            <li>1x Yawgmoth's Bargain (amount and card name, space seperated, with x indicated amount)</li>
        </ul>
        <li>Fixed case sensitivity in pricer</li>
        <li>Pricer outputs column of prices for easier visual assessment</li>
        <li>Pricer displays in two columns</li>
        <li>Pricer output links to pricing data</li>
        <li>Theme Light/Dark/3D added in footer</li>
    </ul>
</p>
<h2>2025-02-21</h2>
<p>
    <ul>
        <li>SSL Certificate created, HTTPS available</li>
        <li>Release Notes page added</li>
        <li>Updated pricer to take format '# Cardname'</li>
    </ul>
</p>
<h2>2025-02-14</h2>
<p>
    <ul>
        <li>Site goes up</li>
        <li>Pricer available</li>
    </ul>
</p>
{% endblock content %}