{% extends 'base.html' %}

{% block title %}YawgBargain - Home{% endblock %}

{% block content %}
<div style="padding: 20px;">
    <h1>Release Notes</h1>
    <h2>2025-02-21</h2>
    <p>
        <ul>
            <li>SSL Certificate created, HTTPS available</li>
            <li>Release Notes page added</li>
            <li>Updated pricer to take format '# Cardname'</li>
        </ul>
    </p>
    <h2>2025-02-14</h2>
    <p>
        <ul>
            <li>Site goes up</li>
            <li>Pricer available</li>
        </ul>
    </p>
</div>
{% endblock %}